<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="Default" connectionString="Data Source=YOUR-3CE9044318\SQLEXPRESS;Initial Catalog=MatherHospital;Integrated Security=SSPI;User Id=sa;Password=sqlserver" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->		
		<add key="template" value="Template.xml" />		
 	</appSettings>
  
</configuration>
